* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  max-width: 100%;
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: local("HelveticaNeueCyr"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Bold.eot");
  src: local("HelveticaNeueCyr"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

body.lock {
  overflow: hidden; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  max-width: 1320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px; }

input[type='number'] {
  -moz-appearance: textfield; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

@media only screen and (max-width: 788px) {
  .container {
    padding-left: 20px;
    padding-right: 20px; } }

@media only screen and (max-width: 788px) {
  .header .container {
    padding: 0 20px; } }

.header.scrolled {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100; }

.basket-products__title {
  font-family: "HelveticaNeueCyr";
  font-size: 30px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #2d2d2d;
  margin-bottom: 50px; }

.basket-products__row {
  display: grid;
  grid-template-columns: 1fr 0.35fr;
  grid-gap: 20px; }

.basket-products__column {
  padding-bottom: 10px; }
  .basket-products__column:first-child {
    border-right: 1px solid #eaeaea;
    padding-right: 15px; }

.basket-products__group-info {
  display: grid;
  grid-template-columns: 125px 0.6fr 0.4fr 0.25fr 0.3fr 0.3fr;
  grid-gap: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eaeaea; }

.basket-products__name-info {
  font-family: "HelveticaNeueCyr";
  font-size: 16px;
  line-height: normal;
  color: #2d2d2d; }
  .basket-products__name-info:first-child {
    grid-column: span 2; }
  .basket-products__name-info:not(:first-child) {
    text-align: center; }

.product-item {
  display: grid;
  grid-template-columns: 125px 1fr;
  grid-gap: 10px;
  padding: 30px 0;
  border-bottom: 1px solid #eaeaea; }
  .product-item__group-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .product-item__list {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr 0.25fr 0.3fr 0.3fr;
    grid-gap: 10px; }
  .product-item__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .product-item__group-detail {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr 0.25fr 0.3fr 0.3fr;
    grid-gap: 10px; }
    .product-item__group-detail .product-item__column:nth-child(1) {
      grid-column-start: 4;
      grid-column-end: 5; }
    .product-item__group-detail .product-item__column:nth-child(2) {
      grid-column-start: 5;
      grid-column-end: 6; }
  .product-item__image {
    display: block; }
    .product-item__image img {
      min-width: 105px;
      width: 105px;
      height: 105px;
      -o-object-fit: contain;
         object-fit: contain; }
  .product-item__name {
    max-width: 185px;
    display: block;
    font-family: "HelveticaNeueCyr";
    font-size: 16px;
    font-weight: 700;
    line-height: 1.06;
    color: #2d2d2d; }
    .product-item__name:hover {
      text-decoration: underline; }
  .product-item__price-one {
    -ms-flex-item-align: center;
        align-self: center;
    font-family: "HelveticaNeueCyr";
    font-size: 16px;
    font-weight: 700;
    line-height: 1.06;
    color: #ff75b2; }
  .product-item__discount {
    -ms-flex-item-align: center;
        align-self: center;
    font-family: "HelveticaNeueCyr";
    font-size: 16px;
    font-weight: 700;
    line-height: 1.06;
    color: #2d2d2d; }
  .product-item__quantity {
    -ms-flex-item-align: center;
        align-self: center; }
  .product-item__price-all {
    -ms-flex-item-align: center;
        align-self: center;
    font-family: "HelveticaNeueCyr";
    font-size: 16px;
    font-weight: 700;
    line-height: 1.06;
    color: #2d2d2d; }
  .product-item__delete {
    -ms-flex-item-align: center;
        align-self: center;
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 15px;
    font-family: "HelveticaNeueCyr";
    font-size: 12px;
    color: #ababab;
    border-bottom: 1px dotted #ababab; }
    .product-item__delete::before {
      content: "";
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      left: 0;
      width: 10px;
      height: 10px;
      background: url("../img/icon-delete-product.png") no-repeat;
      -webkit-filter: grayscale(1);
              filter: grayscale(1); }
    .product-item__delete:hover {
      border-color: #ff75b2;
      color: #ff75b2; }
      .product-item__delete:hover::before {
        -webkit-filter: none;
                filter: none; }
  .product-item__favorites {
    -ms-flex-item-align: center;
        align-self: center;
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 15px;
    font-family: "HelveticaNeueCyr";
    font-size: 12px;
    color: #ababab;
    border-bottom: 1px dotted #ababab; }
    .product-item__favorites::before {
      content: "";
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      left: 0;
      width: 10px;
      height: 10px;
      background: url("../img/icon-favorites-product.png") no-repeat;
      -webkit-filter: grayscale(1);
              filter: grayscale(1); }
    .product-item__favorites:hover {
      border-color: #ff75b2;
      color: #ff75b2; }
      .product-item__favorites:hover::before {
        -webkit-filter: none;
                filter: none; }
    .product-item__favorites.added {
      border-color: #ff75b2;
      color: #ff75b2; }
      .product-item__favorites.added::before {
        -webkit-filter: none;
                filter: none; }

.product-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .product-quantity__sub {
    cursor: pointer;
    position: relative;
    width: 22px;
    height: 22px;
    border: 1px solid #d5d5d5; }
    .product-quantity__sub::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 10px;
      height: 1px;
      background: #2d2d2d; }
  .product-quantity__value {
    width: 34px;
    height: 22px;
    border: 1px solid #d5d5d5;
    text-align: center;
    font-family: "HelveticaNeueCyr";
    font-weight: 700;
    line-height: 1.06;
    color: #2d2d2d; }
  .product-quantity__add {
    cursor: pointer;
    position: relative;
    width: 22px;
    height: 22px;
    border: 1px solid #d5d5d5; }
    .product-quantity__add::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 10px;
      height: 1px;
      background: #2d2d2d; }
    .product-quantity__add::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 1px;
      height: 10px;
      background: #2d2d2d; }

.products-result__order-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px; }

.products-result__order-price-name {
  font-family: "HelveticaNeueCyr";
  font-size: 16px;
  font-weight: 700;
  line-height: 1.06;
  color: rgba(45, 45, 45, 0.7); }

.products-result__order-price-value {
  font-family: "HelveticaNeueCyr";
  font-size: 24px;
  font-weight: 700;
  line-height: 0.71;
  color: rgba(45, 45, 45, 0.7); }

.products-result__order-discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px; }

.products-result__price-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px; }

.products-result__price-result-name {
  font-family: "HelveticaNeueCyr";
  font-size: 24px;
  font-weight: 700;
  line-height: 0.71;
  text-transform: uppercase;
  color: #2d2d2d; }

.products-result__price-result-value {
  font-family: "HelveticaNeueCyr";
  font-size: 24px;
  font-weight: 700;
  line-height: 0.71;
  color: #2d2d2d; }

.products-result__group-result {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #eaeaea; }

.products-result__button {
  width: 100%;
  font-family: "HelveticaNeueCyr";
  padding: 19px 15px 17px 15px;
  font-size: 18px;
  font-weight: 700;
  line-height: 0.47;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 5px;
  background-color: #a44a99;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .products-result__button.--bg-transparent {
    color: #a44a99;
    background-color: transparent;
    border: solid 1px #a44a99; }
  .products-result__button:first-child {
    margin-bottom: 20px; }
  .products-result__button:hover {
    background-color: #ff75b2; }
    .products-result__button:hover.--bg-transparent {
      border-color: #ff75b2;
      color: #fff; }

.products-promocode__name {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding-right: 20px;
  margin-bottom: 15px;
  font-family: "HelveticaNeueCyr";
  font-size: 16px;
  font-weight: 700;
  line-height: 1.06;
  text-transform: uppercase;
  color: rgba(45, 45, 45, 0.7); }
  .products-promocode__name::before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%) rotate(180deg);
        -ms-transform: translate(0, -50%) rotate(180deg);
            transform: translate(0, -50%) rotate(180deg);
    right: 0;
    width: 10px;
    height: 7px;
    background: url("../img/icon-arrow-promocode.png") no-repeat;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.products-promocode__from {
  display: none; }

.products-promocode__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.products-promocode__value {
  max-width: 200px;
  width: 100%;
  font-family: "HelveticaNeueCyr";
  font-size: 12px;
  font-weight: 400;
  line-height: 0.71;
  text-align: center;
  border-radius: 5px 0 0 5px;
  border: solid 1px #d5d5d5;
  color: #2d2d2d; }

.products-promocode__button {
  max-width: 125px;
  width: 100%;
  font-family: "HelveticaNeueCyr";
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 0.71;
  color: #ffffff;
  padding: 17px 13px 16px 12px;
  background-color: #ff75b2;
  border-radius: 0 5px 5px 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .products-promocode__button:hover {
    background-color: #a44a99; }

.products-promocode.active .products-promocode__name::before {
  -webkit-transform: translate(0, -50%) rotate(0deg);
      -ms-transform: translate(0, -50%) rotate(0deg);
          transform: translate(0, -50%) rotate(0deg); }

@media only screen and (max-width: 788px) {
  .basket-products__title {
    font-size: 24px;
    letter-spacing: 0.9px;
    margin-bottom: 20px; } }

@media (max-width: 1170px) {
  .basket-products__row {
    grid-template-columns: 1fr; }
  .basket-products__column:first-child {
    border: none;
    padding-right: 0; }
  .products-result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px; }
    .products-result__group-result {
      margin-top: 0;
      padding-top: 0;
      border: none; } }

@media (max-width: 992px) {
  .basket-products__group-info {
    grid-template-columns: 125px 0.4fr 0.4fr 0.25fr 0.3fr 0.3fr; }
  .product-item__list {
    grid-template-columns: 0.4fr 0.4fr 0.25fr 0.3fr 0.3fr; } }

@media (max-width: 768px) {
  .basket-products__group-info {
    display: none; }
  .products-result {
    display: block; }
    .products-result__group-result {
      margin-top: 30px;
      padding-top: 20px;
      border-top: 1px solid #eaeaea; }
    .products-result__order-price-value {
      font-size: 18px; }
    .products-result__price-result-name {
      font-size: 20px; }
    .products-result__price-result-value {
      font-size: 20px; }
    .products-result__price-result {
      margin-bottom: 20px; }
    .products-result__button.js-button-order.fixed {
      position: fixed;
      left: 50%;
      bottom: 0;
      width: 90%;
      -webkit-transform: translate(-50%, 0px);
          -ms-transform: translate(-50%, 0px);
              transform: translate(-50%, 0px);
      z-index: 100; }
  .product-item {
    grid-template-columns: 105px 1fr; }
    .product-item:first-child {
      border-top: 1px solid #eaeaea; }
    .product-item__list {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 15px; }
      .product-item__list .product-item__column:first-child {
        grid-column: span 2; }
      .product-item__list .product-item__column:nth-child(2) {
        -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
                order: 4; }
      .product-item__list .product-item__column:nth-child(3) {
        display: none; }
      .product-item__list .product-item__column:nth-child(4) {
        grid-column: span 2;
        -webkit-box-ordinal-group: 6;
            -ms-flex-order: 5;
                order: 5; }
      .product-item__list .product-item__column:nth-child(5) {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; }
    .product-item__group-detail {
      margin-top: 30px;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content; }
      .product-item__group-detail .product-item__column:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 2; }
      .product-item__group-detail .product-item__column:nth-child(2) {
        grid-column-start: 3;
        grid-column-end: 4; }
    .product-item__price-one {
      position: relative;
      -ms-flex-item-align: start;
          align-self: flex-start;
      width: 100%;
      font-size: 14px;
      color: #2d2d2d; }
      .product-item__price-one-old {
        position: relative; }
        .product-item__price-one-old::before {
          content: "";
          position: absolute;
          top: 47%;
          left: 0;
          width: 100%;
          height: 2px;
          background: #a44a99;
          -webkit-transform: rotate(348deg);
              -ms-transform: rotate(348deg);
                  transform: rotate(348deg); }
    .product-item__discount {
      position: relative;
      -ms-flex-item-align: start;
          align-self: flex-start;
      width: 100%; }
    .product-item__price-all {
      position: relative;
      -ms-flex-item-align: start;
          align-self: flex-start;
      width: 100%;
      color: #ff75b2; }
    .product-item__delete {
      -ms-flex-item-align: start;
          align-self: flex-start; }
    .product-item__favorites {
      -ms-flex-item-align: start;
          align-self: flex-start; }
  .product-quantity {
    position: relative;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 100%; } }

@media (max-width: 500px) {
  .product-item {
    padding: 20px 0; }
    .product-item__group-name {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .product-item__image {
      text-align: center; }
    .product-item__name {
      font-size: 14px; }
    .product-item__delete {
      font-size: 10px; }
    .product-item__favorites {
      font-size: 10px; }
  .products-result__button {
    font-size: 16px;
    padding: 15px 10px; }
    .products-result__button:first-child {
      margin-bottom: 10px; } }

.recommended {
  padding: 70px 0; }
  .recommended__title {
    font-family: "HelveticaNeueCyr";
    font-size: 24px;
    font-weight: 700;
    color: #2d2d2d;
    margin-bottom: 25px; }
  .recommended__row {
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-gap: 20px; }
  .recommended__column {
    padding: 5px 0 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .recommended__column:first-child {
      border-right: 1px solid #eaeaea; }
  .recommended__name {
    margin-bottom: 35px;
    font-family: "HelveticaNeueCyr";
    font-size: 16px;
    font-weight: 700;
    line-height: 1.06;
    text-transform: uppercase;
    color: #2d2d2d; }

.slider-recommend {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  padding: 5px 0; }
  .slider-recommend::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#fff));
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0), #fff);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
    z-index: 10; }
  .slider-recommend__slide {
    position: relative;
    max-width: 205px;
    height: initial;
    padding: 15px 15px 25px 15px;
    border: 1px solid #f6f6f6;
    border-top: none;
    -webkit-box-shadow: 0px 1px 0.8px 0.2px rgba(0, 0, 0, 0.14);
            box-shadow: 0px 1px 0.8px 0.2px rgba(0, 0, 0, 0.14); }
  .slider-recommend__favorites {
    cursor: pointer;
    position: absolute;
    top: 7px;
    left: 7px; }
    .slider-recommend__favorites img {
      -webkit-filter: grayscale(1);
              filter: grayscale(1); }
    .slider-recommend__favorites:hover img {
      -webkit-filter: none;
              filter: none; }
    .slider-recommend__favorites.added img {
      -webkit-filter: none;
              filter: none; }
  .slider-recommend__image {
    display: block;
    margin-bottom: 15px; }
    .slider-recommend__image img {
      width: 100%;
      height: 150px;
      -o-object-fit: contain;
         object-fit: contain; }
  .slider-recommend__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px; }
  .slider-recommend__price {
    margin-right: 10px;
    font-family: "HelveticaNeueCyr";
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    color: #ff75b2; }
  .slider-recommend__price-old {
    margin-right: 10px;
    display: inline-block;
    position: relative;
    font-family: "HelveticaNeueCyr";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0.7px;
    color: #2d2d2d; }
    .slider-recommend__price-old::before {
      content: "";
      position: absolute;
      top: 47%;
      left: 0;
      width: 100%;
      height: 2px;
      background: #a44a99;
      -webkit-transform: rotate(348deg);
          -ms-transform: rotate(348deg);
              transform: rotate(348deg); }
  .slider-recommend__basket {
    cursor: pointer;
    width: 40px;
    height: 35px;
    padding: 4px 5px;
    border-radius: 3px;
    background: #a44a99; }
  .slider-recommend__name {
    display: block;
    font-family: "HelveticaNeueCyr";
    font-size: 18px;
    line-height: 120%;
    font-weight: 400;
    color: #000000; }
    .slider-recommend__name:hover {
      text-decoration: underline; }
  .slider-recommend__prev {
    width: 35px;
    height: 35px; }
    .slider-recommend__prev::before {
      content: "";
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%) rotate(180deg);
          -ms-transform: translate(0, -50%) rotate(180deg);
              transform: translate(0, -50%) rotate(180deg);
      right: 0;
      width: 35px;
      height: 35px;
      background: url("../img/icon-arrow-slider.png") no-repeat 55% center;
      border-radius: 50%;
      border: 1px solid transparent;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .slider-recommend__prev::after {
      content: none; }
    .slider-recommend__prev:hover::before {
      border-color: #a44a99; }
  .slider-recommend__next {
    width: 35px;
    height: 35px; }
    .slider-recommend__next::before {
      content: "";
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      right: 0;
      width: 35px;
      height: 35px;
      background: url("../img/icon-arrow-slider.png") no-repeat 55% center;
      border-radius: 50%;
      border: 1px solid transparent;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .slider-recommend__next::after {
      content: none; }
    .slider-recommend__next:hover::before {
      border-color: #a44a99; }

.banner {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .banner__item {
    padding: 5px 15px;
    margin-bottom: 5px;
    font-family: "HelveticaNeueCyr";
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.7px;
    color: #ffffff; }

@media (max-width: 768px) {
  .recommended {
    padding: 30px 0; }
    .recommended__row {
      display: block; }
    .recommended__column:first-child {
      border: none;
      margin-bottom: 20px; }
  .slider-recommend {
    width: calc(100vw - ((100vw - 98%) / 2)); }
    .slider-recommend::before {
      content: none; } }
